<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div id="main" class="container mt-5">
    <h2>新增Test Suite</h2>
    <div class="card shadow-sm mt-2">
        <div class="card-body">
            <form action="/suite_add" method="post">
                <div class="mt-2 mb-2">标题：<input type="text" class="small" name="suite_name"></div>
                <h3>选择用例</h3>
                {% for test in tests %}
                    <div><input type="checkbox" id="cases" name="cases" value="{{ test }}"> {{ test }}</div>
                {% endfor %}
                <div><input class="btn btn-primary btn-sm mt-2" type="submit" value="保存"></div>
            </form>
        </div>
    </div>

</div>
</body>
</html>